.done-container{
    background-color: #EEF2F5;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-container-done{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head1-done{
    font-family: Poppins;
    font-size: 1vw;
    font-weight: 500;
    text-align: left;
    color: #000000;
}
.coll-img-done{
    cursor: pointer;
}
.body-container-done{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.body-div-done{
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    gap: 1vh;
    position: relative;
}
.body-d1-done{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.pri-div-done{
    font-family: Poppins;
    font-size: 0.5vw;
    font-weight: 500;
    text-align: center;
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
.email-div-done{
    width: 17px;
    height: 17px;
    background-color: #FFEBEB;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-para-done{
    font-family: DM Sans;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}
.elli-img-done{
    cursor: pointer;
}
.pop-div-done{
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 22px 0px #7E7A7A40;
    border-radius: 12px;
    width: 8vw;
    padding-left: 1vw;
    position: absolute;
    top: 3vh;
    right: 0;
}
.edit-btn-done{
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: left;
    color: #000000;
    cursor: pointer;
}
.share-btn-done{
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: left;
    color: #000000;
    cursor: pointer;
}
.del-btn-done{
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: left;
    color: #CF3636;
    cursor: pointer;
}
.head2-done{
    width: 90%;
    font-family: Poppins;
    font-size: 1.1vw;
    font-weight: 500;
    text-align: left;
    color: #000000;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.head2-done:hover .head2-para-done{
    visibility: visible;
    opacity: 1;
}
.head2-para-done{
    visibility: hidden;
    width: 20vw;
    background-color: #555;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: left;
    border-radius: 6px;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    top: 2vh;
    left: 1vw;
}
.check-d1-done{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.check-para1-done{
    font-family: Inter;
    font-size: 0.9vw;
    font-weight: 500;
    text-align: left;
    color: #000000;
}
.arrow-img-done{
    cursor: pointer;
}
.check-div-done{
    width: 90%;
    max-height: 20vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.check-d2-done{
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding-left: 1vw;
}
.check-img-done{
    cursor: pointer;
}
.check-para2-done{
    width: 85%;
    font-family: Inter;
    font-size: 0.8vw;
    font-weight: 400;
    text-align: left;
    color: #000000;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.body-d2-done{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.date-btn-done{
    width: 10vh;
    height: 4vh;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: center;
}
.sect-div-done{
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
}
.todo-btn-done{
    width: 8vh;
    height: 4vh;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: center;
    background-color: #EEECEC;
    color: #767575;
    cursor: pointer;
}
.back-btn-done{
    width: 10vh;
    height: 4vh;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: center;
    background-color: #EEECEC;
    color: #767575;
    cursor: pointer;
}
.pro-btn-done{
    width: 11vh;
    height: 4vh;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: center;
    background-color: #EEECEC;
    color: #767575;
    cursor: pointer;
}